* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background-image: url(../img/bg-space.jpg);
  background-size: cover; 
  background-repeat: no-repeat;
  background-color: black;
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}
  
.memory-card {
  width: calc(25% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  border-radius: 18px;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 5px;
  position: absolute;
  border-radius: 20.5px;
  background: #703aa1;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

#attempts-counter {
  font-family: 'Single Day', cursive;
  color: rgb(55, 255, 6);
  font-size: 30px;
  margin-bottom: 20px;
}

.score{
  position: absolute;
  display: flex;
  align-self: center;
  margin-left: 150px;
  flex-direction: column;
  scale: 1.5;
}

#restart-button {
  font-family: 'Single Day', cursive;
  height: 50px;
  background-color: transparent;
  border: 5px solid rgb(49, 252, 13);
  color: rgb(49, 252, 13);
  font-size: 30px;
  border-radius: 15px;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 0 0px 30px 9px #118f32;
}

#restart-button:hover {
  background-color: #04AA6D;
  color: white;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #333;
  font-size: 20px;
}

#finalAttempts {
  font-weight: bold;
}

#playAgainButton {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#playAgainButton:hover {
  background-color: #45a049;
}

.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  z-index: 999;
  color: white;
}

#start-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#start-button:hover {
  background-color: #45a049;
}

#records-container{
  font-family: 'Honk', system-ui;
  color: #faf7f7;
  position: absolute;
  top: 50px;
  right: 80px;
  font-size: 23px;
}

#clear-leaderboard-button{
  font-family: 'Single Day', cursive;
  margin-top: 20px;
  height: 45px;
  width: 185px;
  font-size: 17px;
  background-color: transparent;
  border: 5px solid #ff5555;
  color: #ff5555;
  border-radius: 15px;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 0 0px 30px 5px #ff5555;
}

#clear-leaderboard-button:hover {
  background-color: #ff3333;
  color: white;
}

.memory-title{
  display: none;
}

@media (max-width: 767px) {
  body{
    display: flex;
    flex-direction: column;
  }
  .memory-title{
    font-family: 'Single Day', cursive;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
    border: 5px solid #703aa1;
    background-color: #9e40f7a4;
  
  border-radius: 15px;
  }
  .memory-game {
    width: 320px;
    height: 320px;
    margin: 20px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }
  .score {
    min-width: 320px;
      position: relative;
      margin-top: 20px;
      margin-left: 0;
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items: center;
      scale: 1;
  }
  #attempts-counter {
    font-family: 'Single Day', cursive;
    color: rgb(55, 255, 6);
    font-size: 20px;
    margin-bottom: 0px;
  }
  #restart-button {
    font-family: 'Single Day', cursive;
    width: 100px;
    height: 35px;
    font-size: 15px;
    border-radius: 15px;
    box-shadow: 0 0px 30px 9px #118f32;
  }

  #records-container {
    font-family: 'Honk', system-ui;
    margin-top: -25px;
    color: #faf7f7;
    position: relative;
    right: auto;
    font-size: 23px;
    justify-self: center;
    align-self: center;
  }
  #clear-leaderboard-button{
    font-family: 'Single Day', cursive;
    font-weight:800;
    margin-top: 20px;
    height: 35px;
    width: 200px;
    font-size: 18px;
  }
  
}